### macOS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Linux ###
*~

### Logs ###
logs
*.log

### Environment files ###
.env
*.env

### Spring Boot ###
*.jar
*.war
*.ear

### Database ###
*.h2.db
*.mv.db

# Gradle build output
/build/
/**/build/

### local YAML configs ###
src/main/resources/application-local.yml
